<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Questions</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div th:replace="~{header :: header}"></div>

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title text-primary">Upload Questions</h1>
            <!-- Success and Error Messages -->
            <div th:if="${message}" class="alert alert-success" role="alert">
                <p th:text="${message}"></p>
            </div>

            <!-- Existing Languages and Domains -->
            <div class="d-flex">
                <div class="dropdown me-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Search Languages
                    </button>
                    <ul class="dropdown-menu p-2 language-dropdown" style="max-height: 200px; overflow-y: auto;">
                        <input type="text" class="form-control mb-2" id="searchLanguage" placeholder="Search...">
                        <li th:each="lang : ${existingLanguages}">
                            <span class="dropdown-item-text" th:text="${lang}"></span>
                        </li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Search Domains
                    </button>
                    <ul class="dropdown-menu p-2 domain-dropdown" style="max-height: 200px; overflow-y: auto;">
                        <input type="text" class="form-control mb-2" id="searchDomain" placeholder="Search...">
                        <li th:each="domain : ${existingDomains}">
                            <span class="dropdown-item-text" th:text="${domain}"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- File Upload Form -->
            <form action="/questions/upload-questions" method="post" enctype="multipart/form-data" class="mt-4" onsubmit="return checkCheckboxes();">
                <div class="mb-3">
                    <label for="file" class="form-label">Choose CSV or XLSX file:</label>
                    <input type="file" id="file" name="file" accept=".csv, .xlsx" class="form-control" required>
                </div>

                <div>
                    <label style="font-size: smaller; color: red; font-weight: bold;">
                        Please make sure your CSV respects the following before you upload:</label>
                    <div>
                        <input type="checkbox" id="columnsOrderOpenEndedCheck" class="form-check-input" required>
                        <label for="columnsOrderOpenEndedCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The columns order for Open Ended questions is: Question Type | Domain | Language | Difficulty Level | Question Text | Correct Answer</label>
                    </div>
                    <div>
                        <input type="checkbox" id="singleMultipleChoiceCheck" class="form-check-input" required>
                        <label for="singleMultipleChoiceCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            For Single Choice and Multiple Choice questions you have 8 additional columns in this order: First Answer | Is Correct | Second Answer | Is Correct | Third Answer | Is Correct | Fourth Answer | Is Correct</label>
                    </div>
                    <div>
                        <input type="checkbox" id="correctAnswerCheck" class="form-check-input" required>
                        <label for="correctAnswerCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The Correct Answer cell for Single Choice and Multiple Choice questions should contain only the correct letters separated by a comma. For example -> A, B</label>
                    </div>
                    <div>
                        <input type="checkbox" id="isCorrectCheck" class="form-check-input" required>
                        <label for="isCorrectCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The Is Correct columns should only contain the following: true or false. True if the answer is correct and false if the answer is not correct</label>
                    </div>
                    <div>
                        <input type="checkbox" id="difficultyLevelCheck" class="form-check-input" required>
                        <label for="difficultyLevelCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The Difficulty Level is from the following: Easy, Medium, Hard</label>
                    </div>
                    <div>
                        <input type="checkbox" id="domainAndLanguageCheck" class="form-check-input" required>
                        <label for="domainAndLanguageCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The Domain and Language are either from the dropdowns above or totally new ones. Please always search if the domain/language exists already.</label>
                    </div>
                    <div>
                        <input type="checkbox" id="questionTypeCheck" class="form-check-input" required>
                        <label for="questionTypeCheck" class="form-check-label" style="font-size: smaller; font-style: italic;">
                            The Question Type should be from the following: Open Ended, Single Choice, Multiple Choice</label>
                    </div>
                </div>

                <button type="submit" id="uploadButton" class="btn btn-primary" disabled>Upload</button>
                <a href="/questions/download-template" class="btn btn-success">Download CSV Template</a>
            </form>
        </div>
    </div>
    <div th:if="${errorDetails != null}" class="alert alert-danger" role="alert">
        <p th:text="'Errors found in the .csv file.'"></p>
        <ul class="list-group">
            <li th:each="err : ${errorDetails}" class="list-group-item">
                <span th:text="${err}"></span>
            </li>
        </ul>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Enable the button only if all checkboxes are checked
    function checkCheckboxes() {
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

        // If not all checkboxes are checked, disable the submit button
        document.getElementById('uploadButton').disabled = !allChecked;

        return allChecked; // Allow form submission only if all checkboxes are checked
    }

    // Initially run the checkCheckboxes function to ensure button is disabled
    document.addEventListener("DOMContentLoaded", checkCheckboxes);

    // Add event listeners to checkboxes to monitor changes
    document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
        checkbox.addEventListener('change', checkCheckboxes);
    });


    // For the Language dropdown search
document.getElementById('searchLanguage').addEventListener('input', function () {
    let filter = this.value.toLowerCase();
    let items = document.querySelectorAll('.dropdown-menu.language-dropdown .dropdown-item-text');
    items.forEach(item => {
        let text = item.textContent.toLowerCase();
        item.closest('li').style.display = text.includes(filter) ? '' : 'none';
    });
});

// For the Domain dropdown search
document.getElementById('searchDomain').addEventListener('input', function () {
    let filter = this.value.toLowerCase();
    let items = document.querySelectorAll('.dropdown-menu.domain-dropdown .dropdown-item-text');
    items.forEach(item => {
        let text = item.textContent.toLowerCase();
        item.closest('li').style.display = text.includes(filter) ? '' : 'none';
    });
});

</script>
</body>
</html>